/*  your css code here. If applicable */
body{
	background-color:lightpink;
	display:flex;
	justify-content:center;
	align-items:center;
	/* border:1px solid green; */
	height:100vh;
	/* align-content:center; */
	
}
#buttons{
	width:100vw;
	/* border:2px solid black; */
	display:flex;
	justify-content:space-around;
}
.btn , .stop{
	margin:10px 0px;
	padding:10px ;
	background-color:hotpink;
	cursor:pointer;
}